::-moz-selection { /* Code for Firefox */
  background: limegreen;
  color: white;
}
::selection {
  background: limegreen;
  color: white;
}
body {
  margin: 0;
  padding: 10px;
  font-family: Avenir;
  text-align: left;
  background-color: lightgray;
  }
#Content {
  max-width: 600px;
  margin: auto;
}
ul {
  list-style-type: none;
  margin-left: 0x;
  margin-top: 14px;
  margin-right: 10px;
  margin-bottom: 0;
  padding: 5px;
  width: 70px;
  background-color: steelblue;
  border-radius: 5px;
  float: left;
 }
ul li a:link {
  display: block;
  text-decoration: none;
  color: white;
}
ul li a:visited {
  color: white;
}
ul li a:hover {
  color: deepskyblue;
  background-color: hotpink;
  font-weight: bolder;
}
#Main {
  font-size: 1em;
  color: black;
  position: relative; /* Makes text selection hug text column. */
}
h1 {
  color: black;
  padding: 0px;
  font-family: Futura;
  font-size: 1.7em;
  line-height: 1em;
  margin-bottom: 5px;
}
h2 {
  margin: 0;
  padding-top: 15px;
  font-size: 1.4em;
  line-height: 1em;

}
h3 {
  font-size: 1.2em;
}
p {
  color: black;
  font-weight: 100;
  text-align: justify;
  }
p a:link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
p a:visited {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
p a:hover {
  color: deepskyblue;
  background-color: hotpink;
}
ol li a:link, a:visited {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
ol li a:hover {
  color: deepskyblue;
  background-color: hotpink;
}
sup {
  font-size: .7em;
  line-height: 0;
}
sup a:link {
  color: black;
  text-decoration: none;
}
#footnotes { 
  border-top: thin solid;
 }