::-moz-selection { /* Code for Firefox */
  background: orangered;
  color: white;
}
::selection {
  background: orangered;
  color: white;
}
body {
  margin: 0;
  padding: 5px;
  font-family: Avenir;
  text-align: left;
  background-color: lightgray;
  }
#Content {
  max-width: 600px;
  margin: auto;
}
ul {
  list-style-type: none;
  margin-left: 0x;
  margin-top: 13px;
  margin-right: 10px;
  padding: 5px;
  width: 70px;
  background-color: orangered;
  border-radius: 5px;
  float: left;
 }
li a {
  display: block;
  color: white;
  text-decoration: none;
}
ul li a:hover {
  color: lightsteelblue;
}
#Main {
  font-size: 1em;
  color: black;
}
h2 {
  color: black;
  padding: 0px;
  font-family: Futura;
  font-size: 1.7em;
  line-height: 1em;
  margin-bottom: 5px;
}
h3 {
  font-size: 1.4;
}
p {
  color: black;
  font-weight: 100;
  text-align: justify;
  }
sup {
  font-size: .7em;
  line-height: 0;
}
#footnotes { 
  border-top: thin solid;
 }