::-moz-selection { /* Code for Firefox */
  background: orangered;
  color: white;
}
::selection {
  background: orangered;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  font-family: Avenir;
  text-align: left;
  background-color: lightgray;
  }
#Content {
  max-width: 600px;
  margin: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Avenir;
  color: black;
 }
ul li {
  float: left;
}
ul li a { 
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  color: lightsteelblue;
}
#Main {
  margin-top: 50px;
  font-size: 1em;
  color: black;
}
#Main ul {
  font-family: Avenir;
  color: black;
}
#Main a:link, a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#Main a:hover {
  text-decoration: none;
  color: lightslategray;
}
h2 {
  color: black;
  padding: 0px;
  font-family: Futura;
  font-size: 1.7em;
  line-height: 1em;
  margin-bottom: 0em;
}
h3 {
  font-size: 1.4;
}
p {
  color: black;
  font-weight: 100;
  }
sup {
  font-size: .7em;
  line-height: 0;
}
#footnotes { 
  border-top: thin solid;
 }